.App {
  text-align: center;
  background-color: aliceblue;
  height: 100vh;
}

input {
  padding: 10px;
  margin-top:4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin: 0 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px;;
  cursor: pointer;
  transition: background-color 0.3s;
}